git+https://github.com/django-nonrel/django@nonrel-1.5
git+https://github.com/django-nonrel/djangotoolbox
git+https://github.com/django-nonrel/mongodb-engine
django-haystack==2.1.0
django-uuidfield==0.4.0
djangorestframework==2.3.7
Fabric==1.9.0
pymongo==2.6
pysolr==3.2.0
wsgiref==0.1.2
